In [19]:
import pandas as pd
import yfinance as yf

In [12]:
#Note: if not working with windows replace cp1252 with uft-8
tick_df = pd.read_csv("tick_lst/SP500_2014.csv",usecols=[0, 1], encoding='cp1252') 
tick_df.dropna(inplace = True)
tick_df.head()

      A Agilent Technologies
0    AA                Alcoa
1  AAPL            Apple Inc
2  ABBV               AbbVie
3   ABT  Abbott Laboratories
4   ACE                Chubb

In [ ]:
tick_lst = list(tick_df.iloc[:,0])
len_lst = list()

for ticker in tick_lst:
    data = yf.download(ticker, start="2014-01-01", end="2024-12-31")
    data = data.droplevel('Ticker', axis=1)
    data["Ticker"]=ticker
    len_lst.append([ticker,len(data)])
    data.to_csv(f"./tick_data/{ticker}.csv")
    del data

In [46]:
#Report of howmany datapoints were collected for each tickers. Some tickers were delisted and did not have datapoints.
#Those with less than 2767 datapoints were probably recycled tickers and should be eliminated. Total tickers remaining is 383.
pd.DataFrame(len_lst, columns=["Ticker", "Datapoints"]).to_csv("report.csv")
rep_df = pd.read_csv("report.csv")
repuse_df= rep_df[rep_df.Datapoints == 2767]
print("Number of tickers to use in analysis: ", len(repuse_df))

Number of tickers to use in analysis:  383